@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'EB Garamond', serif, sans-serif;
    margin: 0px;
}

h1 {
    font-weight: 100;
    font-size: 3em
}

h1 span {
    color: #b84373;
}


p {
    padding: 10px;
    color: #777;
    font-weight: 900;
    line-height: 25px;
}


.banner {
    background: url('../img/bg1.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    height: 50vw;
    position: relative;
}

#page-eventos .banner,
#page-casamentos .banner,
#page-books .banner,
#page-contato .banner {
    height: 17vw;
    background-position: center center;
}


header {
    color: #fff;
    position: absolute;
    width: 100%;
}



/*****************
 Style Menu */
nav {
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10px auto;

}



nav .nav-itens {
    list-style-type: none;
    float: right;
}

nav span#logo {
    font-size: 2em;
    font-weight: 100;
    line-height: 75px;
    padding-left: 2%;
}

nav .nav-itens li {
    float: left;
}

nav .nav-itens li a span {
    margin-right: 5px;
}

nav li a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 10px;
    font-size: 1.4em;

}

li a:hover {
    color: #b84373;
}

.nav-itens ul li {
    display: none;
}


.nav-itens li:hover ul li {
    display: block;
    float: none;
    margin-left: -45px;
    margin-top: -5px;
}

label[for="bt_menu"] {
    padding: 5px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    line-height: 70px;
}

label[for="bt_menu"],
#bt_menu {
    display: none;
}


.info {
    margin: 0px;
    padding: 0px;
    width: 600px;
    margin: 10% 15%;
}

.info h3 {
    font-size: 71px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.3em;
    font-weight: 100;
}

.btn-info,
.btn-form {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    padding: 10px 20px;
    background-color: #b84373;
    border-radius: 5px;
    margin-top: 0;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-info:hover {
    background-color: #943c60;
}

.contact {
    list-style-type: none;
    background-color: #151515;
    position: fixed;
    padding: 10px;
    border-radius: 3px;
    top: 35%;
}

.itens-contact {
    display: none;
}

.contact li a {
    text-decoration: none;
}

.contact li a span {
    color: #fff;
    padding: 10px 0px
}

.contact li span:hover {
    color: #943c60;
    cursor: pointer;
}



.title-service {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.container {
    width: 90%;
    margin: auto;

}

.some-services {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.some-services div {
    width: 25%;
    text-align: center;
}

.fa {
    font-size: 30px;
    color: #943c60;
    display: block;
}


.col-information3 .fa-envelope {
    display: block;
    padding-bottom: 10px;
    color: #b84373;
    font-size: 30px;
}

.some-services div h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.some-services a {
    font-size: 0.9em;
}

.bg1 {
    width: 100%;
    height: 300px;
    text-align: center;

}

.bg1 h1 {
    color: #fff;
    padding-top: 100px;
}

.bg1 .img-fundo {
    margin-top: 80px;
    height: 100%;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
}

.fotos-equipamentos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}




.footer-information {
    background-color: #151515;
}

.content-information {
    display: flex;
    justify-content: center
}

.content-information h3 {
    color: #fff;
    padding: 10px;
    font-size: 1.7em;
}

.content-information p,
.col-information2 ul {
    margin-top: -30px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-information a:hover {
    color: #fff;
}


.col-information1 {
    width: 30%;
}

.col-information2 {
    width: 15%;
}

.col-information2 ul {
    list-style-type: none;
    padding: 0px;
}

.col-information2 a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    color: #777777;
    text-transform: uppercase;
}

.col-information3 {
    width: 45%;
}

.col-information3 form {
    padding: 10px;
}

.col-information3 #email {
    padding: 10px;
    width: 60%;
    outline: none;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 1.2em;
}


footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
    background-color: #212529;
    color: #fff;
    font-weight: 500;
    padding: 20px;
}


#page-eventos .container,
#page-casamentos .container,
#page-books .container {
    width: 80%;
}

#page-eventos .card_img,
#page-casamentos .card_img,
#page-books .card_img {
    width: 390px;
    height: 300px;
    overflow: hidden;
    margin-top: 10px;
}

#page-eventos .small_img,
#page-casamentos .small_img,
#page-books .small_img {
    height: 100%;
    cursor: pointer;
    transition: all linear 0.4s;
}

#page-eventos .small_img:hover,
#page-casamentos .small_img:hover,
#page-books .small_img:hover {
    filter: grayscale(100%);
    transform: scale(1.4);
}

#page-eventos .row,
#page-casamentos .row,
#page-books .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



#form-contato {
    margin: auto;
    /* background: grey; */
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#form-values {
    width: 50%;
    /* background: blue; */
}

#form-contato input,
#form-contato select,
#form-contato textarea {
    border: none;
    outline: none;
    width: 90%;
    background-color: #f0eaea;
    padding: 5px;
    font-size: 1.3rem;
    box-shadow: 0px 0px 1px #000;
    margin-top: 10px;
    color: #746e6e;
    margin-top: 30px;
    /* border-bottom: 1px solid #ff3589; */
}

#form-contato #form-values select {
    width: 91%;

}

#form-contato button {
    color: #fff;
    font-size: 1.2em;
    margin-top: 30px;
    width: 91%;
    padding: 10px;
    background-color: #b84373;
    border: none;
    cursor: pointer;
    border-radius: 5px;


}

#location-google {
    width: 45%;
    border: 10px solid #f0eaea;

}

#location-google iframe {
    width: 100%;
    height: 100%;
}


@media screen and (min-width : 651px) and (max-width: 1200px) {
    nav {
        width: 100%;
    }

    nav span#logo {
        font-size: 1.3em;
        line-height: 75px;
    }

    nav .nav-itens li {
        margin: 5px 0px;
    }

    .nav-itens li a {
        font-size: 1.2em;
    }


    .info {
        width: 600px;
        margin: 10% 15%;
    }

    .info h3 {
        font-size: 51px;
        line-height: 1em;
    }


    .btn-info {
        font-size: 1.3em;
        padding: 1% 5%;
    }

}

@media screen and (max-width : 650px) {

    nav,
    nav .nav-itens {
        width: 100%;
    }

    nav span#logo {
        font-size: 1.3em;
    }

    nav .nav-itens li {
        position: relative;
        margin-top: -4px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
    }

    nav .nav-itens ul {
        width: 80%;
        margin: auto;
        margin-left: 7%
    }

    nav .nav-itens ul li {
        width: 110%;
        color: blue;
    }

    label[for="bt_menu"] {
        display: inline;
        float: right;
        margin-right: 20px;
    }

    nav .nav-itens {
        display: none;
    }

    #bt_menu:checked~.nav-itens {
        display: block;
    }
}