 /* (min-width:650px) and (max-width:899px) */
 .info {
     width: 600px;
     margin: 0% 5%;
 }

 .info h3 {
     font-size: 41px;
     line-height: 1em;
 }

 .btn-info {
     padding: 1% 2%;

 }

 .title-service {
     width: 100%;
 }

 .some-services div {
     width: 50%;
     margin-top: 50px
 }


 .fotos-equipamentos .foto:nthChild(even) {
     width: 50%;
 }