/* max-width:649px  */

.banner {
    height: 80vw;
}

#page-eventos .banner,
#page-casamentos .banner,
#page-books .banner,
#page-contato .banner {
    height: 40vw;
}

nav {
    position: absolute;
    margin-top: 0px
}

nav .nav-itens {
    margin-top: -4px
}

nav .nav-itens {
    font-size: 0.8em
}

.itens-contact {
    display: block;
    margin-top: 70px;
    float: right;
}

.itens-contact span {
    font-size: 1.4em;
    float: left;
    padding: 20px;
    color: #fff;

}

.contact {
    display: none;
}


.info {
    width: 290px;
    margin: auto;
    margin-top: 30%;
    padding: 10px;
}

.info h3 {
    font-size: 28px;
    line-height: 1em;

}

.btn-info {
    font-size: 0.9em;
    padding: 1% 1.5%;

}

.title-service {
    width: 100%;
    margin-bottom: -10px;
}

.title-service h1 {
    font-size: 2em;
    margin-bottom: -10px
}

.title-service p {
    font-size: 0.8em
}

.some-services div {
    width: 100%;
    margin-top: 50px
}

.some-services div h2 {
    font-size: 1.4em;
}

.bg1 {
    height: 200px;
}

.bg1 h1 {
    font-size: 2em;
    padding-top: 50px;
}

.content-information {
    display: flex;
    flex-wrap: wrap;
}

.col-information1,
.col-information2,
.col-information3 {
    width: 100%;
}

.col-information3 form {
    padding: 10px;
}

.btn-form {
    padding: 5px;
}

#form-contato {
    width: 100%;
}

#form-values {
    width: 80%;
    /* background: blue; */
}

#form-contato input,
#form-contato select,
#form-contato textarea {
    width: 90%;
    padding: 4px;
    font-size: 1.1rem;
    margin-top: 10px;
    color: #746e6e;
    margin-top: 30px;
}

#form-contato #form-values select {
    width: 92%;
}



#location-google {
    margin-top: 40px;
    width: 90%;
    border: 5px solid #f0eaea;

}

#location-google iframe {
    width: 100%;
    height: 100%;
}